@import "post-suggestions-banner";
@import "post-suggestions-text";


.post-suggestions {
    max-width: 1900px;
    height: auto;
    background-color: transparent;
    padding-left:0;
    padding-right: 0;
    margin: auto;
}

@media only screen and (max-width:1900px) and (min-width:1201px) {
    .post-suggestions {
        padding-left:100px;
        padding-right: 100px;
    }
}

@media only screen and (max-width:1200px) and (min-width:750px) {
    .post-suggestions {
        padding-left:50px;
        padding-right: 50px;
    }
}
@media only screen and (max-width:749px){
    .post-suggestions {
        padding-left:0px;
        padding-right: 0px;
    }
}