:root {
    --widthFocus:115px;
    --widthFocusPagination:73px;
    --focusMargin:0px;
    --widthFocusPaginationType:110px;
    --widthMarginType:0px;
    --photoTop: 161px;
}
.models-container {
    background-color: transparent;
    max-width: 1540px;
    margin:auto;
    margin-top: 90px;;
    height: auto;
}

.models__header {
    width: 80%;
    background-color: transparent;
    margin:auto;
    display: flex;
    flex-direction: row;
    border:1px solid transparent;
    border-bottom: 1px solid rgba(100, 100, 100, 0.4);
    position: relative;
}
.models__nav-menu {
    box-sizing: border-box;
    padding:20px;
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border:4px solid transparent;
    cursor: pointer;
}

.models__nav-menu-focus {
    position: absolute;
    height: 4px;
    width: var(--widthFocus);
    background-color: blue;
    bottom:0;
}

.models__nav-menu h5 {
    word-break: keep-all;
    font-weight: 700;
    color:rgb(100, 100, 100);
    font-size: 18px;
}
.models__nav-menu-active h5 {
    color:black;
}



/*Pagination */ 

.models__pagination {
    width: 80%;
    background-color: transparent;
    margin:auto;
    display: flex;
    flex-direction: row;
    border:1px solid transparent;
    border-bottom: 1px solid rgba(100, 100, 100, 0.4);
    position: relative;
    overflow: hidden;
}
.models__pagination-container {
    display: block;
    position: relative;
}
.models__pagination-type-container {
    display: none;
    overflow: hidden;

}
.models__pagination_nav-menu {
    box-sizing: border-box;
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border:4px solid transparent;
    padding-top:8px;
    cursor: pointer;
    overflow: hidden;
    min-width: 700px;
    position: relative;
}
.models__pagination_nav-menu-type {
    box-sizing: border-box;
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border:4px solid transparent;
    padding-top:8px;
    cursor: pointer;
    overflow: hidden;
    min-width: 700px;
    position: relative;
}
.models__pagination_nav-menu-type-holder {
    position: relative;
    left:0px;
}
.Page {
    background-color: transparent;
    padding:20px;
    overflow: visible;
}
.Page h5 {
    white-space: nowrap;
    font-weight: 700;
    color:rgb(100, 100, 100);
    font-size: 18px;
}
.Page-type {
    background-color: transparent;
    padding:20px;
    padding-left:22px;
    padding-right:22px;
    overflow: visible;
}
.Page-type h5 {
    white-space: nowrap;
    font-weight: 700;
    color:rgb(100, 100, 100);
    font-size: 18px;
}

.models_pagination-nav-menu-focus{
    position: absolute;
    bottom: 0;
    width: var(--widthFocusPagination);
    background-color: blue;
    height: 4px;
    margin-left:var(--focusMargin);
    transition-duration: 300ms;
}
.models_pagination-nav-menu-focus-type {
    position: absolute;
    bottom: 0;
    width: var(--widthFocusPaginationType);
    background-color: blue;
    height: 4px;
    margin-left:var(--focusMarginType);
    transition-duration: 300ms;
}

/*Extra class */

@media screen and (max-width:900px) and (min-width:870px) {
    .models__pagination_nav-menu {
        left:0px;
    }
}
@media screen and (max-width:870px) and (min-width:100px) {
    .models__pagination_nav-menu {
        left:5px;
    }
}